<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <span class="TitleGorod"></span>
<ion-button class="Bb">

  <ion-icon class="iconki2" name="ellipsis-vertical-outline"></ion-icon>

</ion-button>

  <br><br><br><br>
  <span class="text">Ощущается как ___ , но на самом деле</span>

  <br><br><br><br><br>
  <span class="text2">{[temperature]}</span>

  <ion-grid class="tab1">

    <ion-row>
      <ion-col ><ion-icon class="iconki1"  name='calendar'></ion-icon>

        <div class="row1">
          <ion-row>Дата1</ion-row>
          <ion-row>Дата2</ion-row>
          <ion-row>Дата3</ion-row>
          <ion-row>Дата4</ion-row>
          <ion-row>Дата5</ion-row>
          <ion-row>Дата6</ion-row>
          <ion-row>Дата7</ion-row>
        </div>

      </ion-col>

      <ion-col>
        <ion-icon class="iconki1" name='sunny-outline'></ion-icon>
        <span class="shasl">/</span>
        <ion-icon class="iconki1"  name='moon-outline'></ion-icon>

         <div class="row2">
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
          <ion-row>t/t</ion-row>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>