.TitleGorod{

    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.text{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.text2{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
}


.iconki1{
    font-size: 40px;
   
}
.shasl{
    font-size: 46px;
}

.iconki2{
    font-size: 30px;
   
}

.Bb{
    color: black;
    position: relative;
    left: 1145px;
}

.tab1{
    position: relative;
    top: 70px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}




